*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;

    &>*{
        flex-basis: 30%;
        min-width: 15em;
    }
}

.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.125rem;
    color:var(--clr-text, white);
    text-transform: uppercase;
    padding: .5em 1.25em;
    background: var(--clr-accent,blue); 
    border-radius: 0.25em;
    transition: 
        transform 250ms ease-in-out,
        opacity 250ms linear;

    &:hover,
    &:focus {
        transform: scale(1.1);
        opacity: .9;
    }
}

.primary-title {
    font-size: 4rem;
    font-size: clamp( 3rem, calc(5vw + 1rem), 4.5rem );
    line-height: 1;
    text-transform: uppercase;
}
.primary-subtitle {
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 10em 0;
    background-color: #f7e6e4;

    @supports ( background-blend-mode: multiply) {
        background-image: 
        url('../img/pexels-life.jpg'),
        radial-gradient(#f7e6e4,#f7ccc3);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

section {
    padding: 4em 0;
}

.section-title {
    text-align: center;
    font-size: clamp( 2.5rem, calc(5vw + 1rem), 4rem );
    color: #914f3d;
    line-height: 1;
    margin-bottom: 3rem;
}

.featured{
    background: #eee;
    &__item{
        display: block;
        position: relative;
        transform: scale(.85);
        transition: transform 250ms ease-in-out;
        text-decoration: none;
        color:#333;
        text-align: center;
        line-height: 1.2;

        

        &:hover,
        &:focus {
            transform: scale(1);

            .featured__details {
                opacity: 1;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: -25%;
            left: -5%;
            z-index: -1;
            padding: 110% 110% 0 0;
            background: #9e6a5c;
            border-radius: 50%;
        }
    }

    &__details {

        opacity: 0;
        transition: opacity 250ms linear;

        span {
            display: block;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

.product{
    background: radial-gradient( var(--clr-inner, limegreen),var(--clr-outer,purple) );
    padding: 3em;
    border-radius: 2em;
    margin-bottom: 3em;
    text-align: center;

    &__image{
        margin: -5, 0, 0, 0;
        border-radius: 1em;
    }

    @media (min-width: 45em) {
        text-align: left;

        &__title{
            margin: 0;
        }

        &__image{
            float: right;
            width: 50%;
            shape-outside: url(../img/pexels-suzy-hazelwood-1098592.jpg);
            shape-margin: 1em;
            //margin: 0 -5em 0 0;  
        }  

    }

    &__title {
        //font-size: clamp(3rem,calc(5vw + 1rem),5rem);
        font-size: 3rem;
        text-transform: uppercase;
        line-height: 1;
        color: #fff;
        text-shadow: 0 0 .2em rgba(#000, .2);
    }
}

.hero{
    --clr-accent: #faa700;
}

.first-dess {
    --clr-inner: red;
    --clr-outer: orange;
    --clr-accent: #a1173c;
}

.second-dess {
    --clr-inner: blue;
    --clr-outer: grey;
    --clr-accent: limegreen;
}

.third-dess {
    --clr-inner: purple;
    --clr-outer: pink;
    --clr-accent: #000951;
}